@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;700&family=Poppins:ital,wght@0,400;0,500;0,700;1,300&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* inputs and buttons defaults */
input,
button {
  font: inherit;
  border: 1px solid #000;
}

/* body defaults */
body {
    font-family: 'Poppins', sans-serif;
    color: #222;
}

/* GENERAL ELEMENTS */
.wrapper {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

/* ASIDE */
aside {
    background-image: url(https://images.unsplash.com/photo-1656998414326-0673c822bd01?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTk4fHxncmFwaGljcyUyMGRlc2lnbnxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60);
    background-size: cover;
    background-position: center;
    background-color: pink;

    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    text-align: center;
}

.title {
    margin: 0 auto;
    margin-top: calc(2rem + 15vh);
    font-size: 3rem;
    line-height: calc(1em + 0.5vh);
    width: clamp(250px, 50vw, 400px);
    text-shadow: 0 0 1px #bdbdbd;
}

.artist,
.source {
  text-decoration: underline;
}

/* MAIN */
.message-box {
    font-size: 1.5rem;
    line-height: calc(1em + 0.5vh);
    padding: 4rem 2rem 1rem;
}

.message {
    width: clamp(20ch, 40vw, 46ch);
    margin-bottom: 1rem;
}